.loading {
	color: white;
	text-align: center;
	background-color: gray;
	padding: 20px 0;
	width: 50%;
	margin: 50px auto 0;
	border-radius: 10px;
	box-shadow: 0 0 10px #828282, 0 0 10px white;
}


@media (max-width: 767px) {
	.loading {
		font-size: 80%;
	}
    
}

@media (max-width: 400px) {
	.loading {
		font-size: 50%;
	}
}