* {
    font-size: 50px;
}

.quote-box {
	background-color: white;
	margin: 50px auto 0;
	border-radius: 10px;
	padding: 30px;
	height: auto;
	display: block;
    width: 80%;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.quote-icon {
    width: 70%;
}


.fa {
    font-size: 50%;
}
.fab {
    font-size: 50%;
    transition: .2s;
}
.fab:hover {
    font-size: 60%;
    transform: rotate(40deg);
}
.fa-quote-left {
    margin-right: 20px;
    float: left;
}
.title-autor {
    height: 60%;
    display: flex;
    justify-content: space-between;
}
.text {
    font-size: 50%;
    text-align: left;
    margin-top: 5px;
}

.author {
	font-size: 45%;
	text-align: right;
	margin-top: 30px;
}

.next-twetter-logo {
    display: flex;
    justify-content: space-between;
}

#tweet-quote {
    color: inherit;
}
#id-refresh {
    cursor: pointer;
    transition: .2s;
}
#id-refresh:hover {
    font-size: 32px;
    transform: rotate(180deg);
}

@media (max-width: 767px) {
    .title-autor {
        display: inline-block;
        width: 100%;
    }
    .quote-icon {
        width: inherit;
    }
}

@media (max-width: 400px) {
    .quote-box {
        padding: 20px;
    }
}



